<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Arpita Singh">
    <title>Weather Info</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico"/>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

     <script src="assets/js/library/jquery.min.js"></script>
     <script src="assets/js/library/angular.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7tpmR67QsyGg9td73sOX98z1hwyzlXzQ&libraries=geometry,places"></script>
    <script src="assets/js/library/angular-google-maps.min.js"></script>

    <script src="assets/js/app.js"></script>

</head>
<body>
  <div class="app" ng-app="App" ng-controller="weatherCtrl">
    <p class="heading">Weather Information By City</p>
    <div class="inputwrapper"><h4>Search City: </h4><input id="autocomplete" placeholder="Enter your city" type="text"  name="placeName" ></input></div>
    <p class="errormesg">Sorry! City not found.</p>

    <div class="wrapper">
        <div class="rowWrapper" ng-repeat="(key, value) in darray">
          <div class="leftWrapper" >
              {{key}}
          </div>
          <div class="rightWrapper">
                {{value}}
            </div>
        </div>
      </div>

  </div>

</body>

</html>
