body{
  background-image: url(../img/Blue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.leftWrapper{
display: inline-block;
width:200px;
}

.rightWrapper{
  display: inline-block;
  color:#3566b5;
}

.wrapper{
  padding-left: 30px;
  padding-top: 10px;
}

.app{
  margin: 175px auto;
  width: 410px;
  background-color: #f3f3f3;
  padding-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.heading{
  background: #3566b5;
  height: 20px;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.inputwrapper{
  padding-left: 30px;
  vertical-align: middle;
  display:table-cell;

}

.inputwrapper h4{
  color:#3566b5;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

#autocomplete{
  margin:0px;
}


.errormesg{
  color:red;
  margin-top: 5px;
  padding-left:30px;
  padding-top:10px;
  display:none;
}


@media only screen and (min-device-width: 240px) and (max-width: 768px){
  body{
    background-size: inherit;
    width:100%;
    height: 100%;
  }

  .app {
    width: 100%;
    margin: 0 auto;
    }

   .inputwrapper {
      padding-left: 30px;
    }
}
@media only screen and (min-width: 600px){
  .inputwrapper {
     text-align: left;
     padding-left: 30px;
   }
}
